@charset "UTF-8";

#warp {
	width:1200px;
	margin:auto;
}

header {
	height:70px;
	background-color: lightgray;
}

.content {
	
}

.content > .join-box {
	width:400px;
}

.login-box {
	width:400px;
}

footer {
	hieght:50px;
	background-color: lightgray;
}